
.App {
  background-color: rgb(248, 136, 179);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  text-align: center; 
  padding: 20px;
  margin: 0;
  color: black;
}

.ProductList-container {
  background-color: rgb(228, 163, 252);
  padding: 20px;
  border: 3px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 60%; 
  max-width: 800px; 
}


.AddProductForm-container {
  background-color: rgb(228, 163, 252);
  padding: 20px;
  border: 3px solid black;
  border-radius: 8px;
  margin-top: 20px;
  width: 60%; 
  max-width: 800px; 
}

.AddProductForm-container button {
  margin-top: 10px;
  background-color: green;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AddProductForm-container button:hover {
  background-color: rgb(121, 202, 121);
}